/*
 * This file contains the footer styles
 */

.footer {
	font-family: $footer-font-family;
	font-weight: $footer-font-weight;
	font-size: $footer-font-size;
	letter-spacing: $footer-letter-spacing;
	color: $footer-font-color;
	background-color: $footer-bc;
	@include media-breakpoint-down(767) {padding: 2rem 1rem;}
	@include media-breakpoint-up(768) {padding: 2rem 3rem;}
	> div {
		
		@include media-breakpoint-down(767) {width: 100%;}
		
		> div {
			margin: 0 .5rem;
			&:last-child {margin-right: 0;}
		}
	}
	a {
		color: $footer-font-color;
		&:hover,
		&:focus,
		&:active {color: $footer-link-hover-color;}
	}
	.social-icons {
		a {
			display: inline-block;
			color: $reddmask;
			margin: 0 .25rem;
			&:last-child {margin-right: 0;}
			&:hover,
			&:focus,
			&:active {color: $white;}
		}
	}
	.wpml-footer-widget {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			> li {
				display: inline-block;
				line-height: 1;
				border-right: 1px solid $white;
				padding-right: .25rem;
				&:last-child {
					border-right: none;
					padding-right: 0;
				}
				&:hover,
				&:focus,
				&:active,
				&.wpml-ls-current-language {color: $footer-link-hover-color;}
				> a {
					display: block;
					text-transform: uppercase;
				}
			}
		}
	}
}