.header {
	position: relative;
	z-index: 100;
	//border-bottom: 1px solid #000;
	.container {
		@include media-breakpoint-down(991) {max-width: 100%;}
	}
	.navbar {
		@include media-breakpoint-up(768) {padding: 0;}
	}
	.navbar-menu {
		.nav-item {
			.nav-link {
				font-family: $nav-font-family;
				font-size: $nav-font-size;
				font-weight: $nav-font-weight;
				color: $nav-font-color;
				text-transform: uppercase;
				letter-spacing: $nav-letter-spacing;
				@include media-breakpoint-down(767) {text-align: left;}
				@include media-breakpoint-between(768, 991) {padding: .5rem .25rem;}
				&:hover,
				&:focus,
				&:active {color: $nav-link-hover-color;}
			}
		}
	}
	.navbar-brand {
		color: $black;
		margin: 0;
		&:hover,
		&:focus,
		&:active {color: $reddmask;}
		img {
			display: block;
			margin: auto;
			@include media-breakpoint-between(768, 991) {width: 100px;}
			@include media-breakpoint-up(992) {width: 160px;}
		}
		.brand-tagline {
			display: block;
			font-family: $font-serif;
			font-size: .95rem;
			font-weight: 600;
			text-transform: uppercase;
			@include media-breakpoint-up(768) {letter-spacing: 1px;}
			@include media-breakpoint-up(992) {letter-spacing: 6px;}
		}
	}
	.img-logo-xs {width: 100px;}
}