/*
 * Color variables
 */
$reddmask: #d16e43;
$grey: #757575;
$romance: #f1ede6;

$white: #fff;
$black: #000;


/*
 *  Font variables
 */
$font: "Rubik", Helvetica, Arial, sans-serif;
$font-serif: "Source Serif Pro", Helvetica, Arial, sans-serif;

$font-size: .875rem;
$font-color: $grey;
$font-family: $font-serif;
$font-weight: 300;
$letter-spacing: 0;

$title-font-family: $font;
$title-letter-spacing: 2px;

/*
 *  Navbar variables
 */
$nav-font-family: $font;
$nav-font-size: .75rem;
$nav-font-color: $grey;
$nav-font-weight: 700;

$nav-link-hover-color: $black;

$nav-letter-spacing: 1px;

/*
 * Footer variables
 */
$footer-bc: $black;
$footer-font-family: $font;
$footer-font-size: .75rem;
$footer-font-color: $white;
$footer-font-weight: 500;

$footer-link-hover-color: $reddmask;

$footer-letter-spacing: 1px;

/*
 *  Common variables
 */
$background-color: $white;