// margin and padding values array
$space-values : (
	0,
	5,
	10,
	15,
	30,
	45,
	60,
	75,
	90
) !default;

// margin and padding shorthands
$space-prefixes : (
	p  : padding,
	pt : padding-top,
	pr : padding-right,
	pb : padding-bottom,
	pl : padding-left,
	m  : margin,
	mt : margin-top,
	mr : margin-right,
	mb : margin-bottom,
	ml : margin-left,
) !default;

// change these values if its not imported into bootstrap
$grid-breakpoints-custom: (
	xs: 0,
	sm: 544px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;

$breakpoints : $grid-breakpoints-custom;

// main function definition
@mixin make-space($values, $prefixes, $breakpoints) {
	@each $breakpoint-name, $breakpoint-value in $breakpoints {
		// if xs value = 0, set it global without media queries
		@if($breakpoint-value == 0) {
			@each $attr-short, $attr-long in $prefixes {
				@each $value in $values {
					.#{$breakpoint-name}-#{$attr-short}-#{$value} {
						#{$attr-long}: #{$value}px;
					}
				}
			}
		}
		// breakpoint values that not equal to 0
		@else {
			@media screen and (min-width: $breakpoint-value) {
				@each $attr-short, $attr-long in $prefixes {
					@each $value in $values {
						.#{$breakpoint-name}-#{$attr-short}-#{$value} {
							#{$attr-long}: #{$value}px;
						}
					}
				}
			}
		}
	}
}

@mixin transition($target, $duration, $effect) {
	-webkit-transition: #{$target} #{$duration} #{$effect};
	   -moz-transition: #{$target} #{$duration} #{$effect};
			-ms-transition: #{$target} #{$duration} #{$effect};
			 -o-transition: #{$target} #{$duration} #{$effect};
					transition: #{$target} #{$duration} #{$effect};
}

@mixin media-breakpoint-up($breakpoint) {
	// If the key exists in the map
	@if $breakpoint != null {
		// Prints a media query based on the value
		@media (min-width: $breakpoint + "px") {
			@content;
		}
	}
	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
	}
}

@mixin media-breakpoint-down($breakpoint) {
	// If the key exists in the map
	@if $breakpoint != null {
		// Prints a media query based on the value
		@media (max-width: $breakpoint + "px") {
			@content;
		}
	}
	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
	}
}

@mixin media-breakpoint-between($bp-min, $bp-max) {
	// If the key exists in the map
	@if $bp-min != null and $bp-max != null {
		// Prints a media query based on the value
		@media (min-width: $bp-min + "px") and (max-width: $bp-max + "px") {
			@content;
		}
	}
	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
	}
}

@mixin mqMinHeight($breakpoint) {
	// If the key exists in the map
	@if $breakpoint != null {
		// Prints a media query based on the value
		@media (min-height: $breakpoint + "px") {
			@content;
		}
	}
	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
	}
}

@mixin mqMaxHeight($breakpoint) {
	// If the key exists in the map
	@if $breakpoint != null {
		// Prints a media query based on the value
		@media (max-height: $breakpoint + "px") {
			@content;
		}
	}
	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
	}
}

@mixin mqMinMaxHeight($bp-min, $bp-max) {
	// If the key exists in the map
	@if $bp-min != null and $bp-max != null {
		// Prints a media query based on the value
		@media (min-height: $bp-min + "px") and (max-width: $bp-max + "px") {
			@content;
		}
	}
	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
	}
}

@mixin vAlignMiddle($position: relative) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin alignCenter($position: relative) {
	position: $position;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}


// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}