<div class="wpml-footer-widget">
  <ul>
    {% for code, language in languages %}
			<li class="{{language.css_classes}}">
				<a href="{{language.url}}">{{language.code}}</a>
			</li>
		{% endfor %}
	</ul>
</div>
