.category-main {
	background-color: $romance;
	@include media-breakpoint-down(480) {padding: 2rem 0;}
	@include media-breakpoint-up(481) {padding: 4rem 0;}
	@include media-breakpoint-up(768) {padding: 6rem 0;}
	.category-title {
		width: 100%;
		font-size: 1rem;
		font-weight: 900;
		color: $grey;
		text-transform: uppercase;
		text-align: center;
		margin: 0;
		margin-bottom: 4rem;
	}
	.post-preview {
		height: 100%;
		background-color: $white;
		.post-preview-header {
			width: 100%;
			.post-preview-date {
				display: block;
				font-weight: 600;
				font-size: .875rem;
				font-family: $font;
				color: $white;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 2px;
				background-color: $black;
				padding: 5px;
			}
			.post-image {
				position: relative;
				overflow: hidden;
				@include media-breakpoint-down(480) {height: 200px;}
				@include media-breakpoint-up(481) {height: 250px;}
				@include media-breakpoint-up(768) {height: 280px;}
				@include media-breakpoint-up(992) {height: 250px;}
				@include media-breakpoint-up(1200) {height: 360px;}
				img {
					position: absolute;
					top: -9999px;
					right: -9999px;
					bottom: -9999px;
					left: -9999px;
					max-width: 110%;
					width: auto;
					height: auto;
					min-width: 100%;
					min-height: 100%;
					margin: auto;
				}
			}
		}
		.post-preview-body {
			.post-preview-title {
				font-size: 1.25rem;
				text-transform: uppercase;
				color: $black;
				margin-bottom: 2rem;
			}
		}
		.post-preview-body,
		.post-preview-footer {
			width: 100%;
			padding: 1rem;
			.btn-link {padding: 0;}
		}
	}
	.pagination {
		text-align: center;
		margin-bottom: 0;
		> li {
			&.active > a {border-color: $reddmask;}
			> a {
				display: inline-block;
				width: 20px;
				line-height: 20px;
				border: 2px solid transparent;
				&:hover,
				&:active,
				&:focus {color: $reddmask;}
			}
		}
	}
}