.contacts-main {
	.main-body {
		.body-side-left {
			position: relative;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			@include media-breakpoint-down(480) {
				padding-top: 2rem;
				padding-bottom: 2rem;
			}
			@include media-breakpoint-between(481, 767) {
				padding-top: 3rem;
				padding-bottom: 3rem;
			}
			@include media-breakpoint-between(768, 991) {
				padding-top: 3rem;
				padding-bottom: 3rem;
			}
			@include media-breakpoint-up(992) {min-height: 720px;}
			.side-left-circle {
				color: $white;
				text-align: center;
				line-height: 1.25;
				padding: 6rem;
				background-image: url(../img/circle-red.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				a {
					
					color: $white;
					&:hover,
					&:focus,
					&:active {color: $black;}
				}
				.circle-social {
					font-size: 1.15rem;
					margin-top: 1rem;
					> a {
						display: inline-block;
						margin: 0 .125rem;
					}
				}
			}
		}
		.body-side-right {
			background-color: $romance;
			@include media-breakpoint-down(480) {
				padding-top: 3rem;
				padding-bottom: 3rem;
			}
			@include media-breakpoint-between(481, 991) {
				padding-top: 4rem;
				padding-bottom: 4rem;
			}
			.side-right-content {
				@include media-breakpoint-up(1200) {
					max-width: 100%;
					width: 550px;
					margin: auto;
				}
			}
			.body-overtitle {
				width: 100%;
				font-size: 1rem;
				font-weight: 900;
				color: $grey;
				text-transform: uppercase;
				text-align: center;
				margin: 0;
				margin-bottom: .5rem;
			}
			.body-title {
				width: 100%;
				font-size: 3rem;
				font-weight: 900;
				color: $black;
				text-transform: uppercase;
				text-align: center;
				margin: 0;
				margin-bottom: .5rem;
				@include media-breakpoint-down(767) {font-size: 1.75rem;}
				@include media-breakpoint-up(768) {font-size: 2rem;}
				@include media-breakpoint-up(1200) {font-size: 3rem;}
			}
			.body-description {
				text-align: center;
				margin-bottom: 2rem;
			}
			.body-content {margin-bottom: 3rem;}
			.btn {margin: auto;}
		}
	}
}