
.homepage-main {
	position: relative;
	.home-carousel {
		&#hc-background {
			.carousel-item {
				/*@include media-breakpoint-up(768) {height: 530px;}
				@include media-breakpoint-up(1200) {height: 600px;}*/
				@include media-breakpoint-down(480) {height: 255px;}
				@include media-breakpoint-up(480) {height: 250px;}
				@include media-breakpoint-up(768) {min-height: 320px;}
				img {
					position: absolute;
					top: -9999px;
					right: -9999px;
					bottom: -9999px;
					left: -9999px;
					display: inline-block;
					max-width: none;
					width: auto;
					min-width: 100%;
					height: auto;
					min-height: 100%;
					margin: auto;
				}
			}
		}
		&#hc-circle {
			position: absolute;
			right: 0;
			left: 0;
			display: inline-block;
			margin: auto;
			@media (max-height: 799px) {top: 7%;}
			@media (min-height: 800px) {top: 10%;}
			@media (min-height: 850px) {top: 20%;}
			@include media-breakpoint-down(480) {
				top: 15%;
				width: 250px;
				height: 250px;
			}
			@include media-breakpoint-up(481) {
				width: 300px;
				height: 300px;
			}
			@include media-breakpoint-up(768) {
				width: 450px;
				height: 450px;
			}
			.carousel-item {
				background-color: $white;
				border-radius: 50%;
				overflow: hidden;
				img {margin: auto;}
			}
			.carousel-overlay {
				position: absolute;
				right: 0;
				bottom: -70px;
				left: 0;
				z-index: 10;
				text-align: center;
				margin: auto;
				img {
					max-height: 450px;
					width: auto;
					@include media-breakpoint-down(480) {max-height: 250px;}
					@include media-breakpoint-between(481, 767) {max-height: 300px;}
				}
			}
			.carousel-indicators {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: 0;
				> li {
					position: absolute;
					display: block;
					height: 100px;
					width: 100px;
					background-color: $white;
					text-indent: 0;
					margin: 0;
					border: 3px dotted transparent;
					border-radius: 50%;
					@include transition("all", ".3s", "ease");
					@include media-breakpoint-down(480) {
						height: 60px;
						width: 60px;
					}
					@include media-breakpoint-between(481, 767) {
						height: 90px;
						width: 90px;
					}
					&:hover,
					&:focus,
					&:active,
					&.active {
						cursor: pointer;
						border-color: $reddmask;
						> div {
							color: $white;
							background-color: $reddmask;
							@include transition("all", ".3s", "ease");
						}
					}
					&:first-child {
						left: -50px;
						top: calc(50% - 50px);
						@include rotate(-10);
						@include media-breakpoint-down(480) {
							left: 0;
							top: 80%;
						}
						@include media-breakpoint-between(481, 767) {
							left: -30px;
							top: 50%;
						}
						&:hover,
						&:focus,
						&:active,
						&.active {
							@include transform(scale(1.2) rotate(-10deg));
						}
					}
					&:nth-child(2) {
						top: 0;
						left: 50px;
						@include rotate(10);
						@include media-breakpoint-down(480) {
							left: 0;
							top: 0;
						}
						@include media-breakpoint-between(481, 767) {
							left: 0;
							top: 0;
						}
						&:hover,
						&:focus,
						&:active,
						&.active {
							@include transform(scale(1.2) rotate(10deg));
						}
					}
					&:nth-child(3) {
						top: 0;
						right: 50px;
						@include rotate(-10);
						@include media-breakpoint-down(480) {
							right: 0;
							top: 0;
						}
						@include media-breakpoint-between(481, 767) {
							right: 0;
							top: 0;
						}
						&:hover,
						&:focus,
						&:active,
						&.active {
							@include transform(scale(1.2) rotate(-10deg));
						}
					}
					&:nth-child(4) {
						right: -50px;
						top: calc(50% - 50px);
						@include rotate(10);
						@include media-breakpoint-down(480) {
							right: 0;
							top: 80%;
						}
						@include media-breakpoint-between(481, 767) {
							right: -30px;
							top: 50%;
						}
						&:hover,
						&:focus,
						&:active,
						&.active {
							@include transform(scale(1.2) rotate(10deg));
						}
					}
					> div {
						height: 100%;
						width: 100%;
						font-size: .75rem;
						font-family: $font-serif;
						font-weight: 600;
						color: $grey;
						text-transform: uppercase;
						text-align: center;
						line-height: 1;
						background-color: $romance;
						border: 10px solid $white;
						border-radius: 50%;
						@include transition("all", ".3s", "ease");
						@include media-breakpoint-down(480) {border: none;}
					}
				}
			}
		}
		&#hc-title {
			width: 100%;
			text-align: center;
			h3 {
				font-weight: 900;
				color: $black;
				letter-spacing: 2px;
				text-transform: uppercase;
				margin: 0;
				@include media-breakpoint-down(480) {
					font-size: 1.5rem;
					margin-top: 150px;
				}
				@include media-breakpoint-up(481) {
					font-size: 1.5rem;
					margin-top: 230px;
				}
				@include media-breakpoint-up(768) {
					font-size: 2.8rem;
					margin-top: 260px;
				}
				span {color: $reddmask;}
			}
		}
	}
	.home-footer {
		
		background-image: url(../img/home-footer.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		@include media-breakpoint-down(480) {height: 255px;}
		@include media-breakpoint-up(481) {height: 300px;}
		@include media-breakpoint-up(768) {min-height: 420px;}
	}
}