.institutional-main {
	.main-body {
		.body-side-left {
			position: relative;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			@include media-breakpoint-down(480) {min-height: 250px;}
			@include media-breakpoint-up(481) {min-height: 350px;}
			@include media-breakpoint-up(768) {min-height: 550px;}
			@include media-breakpoint-up(992) {min-height: 720px;}
			.side-img {
				height: 100%;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: cover;
			}
			img {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
		}
		.body-side-right {
			background-image: url("../img/side-bg.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			@include media-breakpoint-down(480) {
				padding-top: 2.5rem;
				padding-bottom: 2.5rem;
			}
				@include media-breakpoint-up(481) {
				padding-top: 3.25rem;
				padding-bottom: 3.25rem;
			}
			@include media-breakpoint-between(768, 991) {padding: 4rem;}
			.side-right-content {
				max-width: 100%;
				margin: auto;
				@include media-breakpoint-up(992) {width: 400px;}
				@include media-breakpoint-up(1200) {width: 550px;}
			}
			.body-overtitle {
				width: 100%;
				font-size: 1rem;
				font-weight: 900;
				color: $grey;
				text-transform: uppercase;
				text-align: center;
				margin: 0;
				margin-bottom: 1rem;
			}
			.body-title {
				width: 100%;
				font-weight: 900;
				color: $black;
				text-transform: uppercase;
				text-align: center;
				margin: 0;
				@include media-breakpoint-down(767) {
					font-size: 1.75rem;
					margin-bottom: 1rem;
				}
				@include media-breakpoint-up(768) {
					font-size: 2rem;
					margin-bottom: 2rem;
				}
				@include media-breakpoint-up(1200) {
					font-size: 3rem;
					margin-bottom: 3rem;
				}
			}
			.body-content {
				.body-intro {
					@include media-breakpoint-up(768) {margin-bottom: 1rem;}
					@include media-breakpoint-up(992) {margin-bottom: 2rem;}
					@include media-breakpoint-up(1200) {margin-bottom: 3rem;}
				}
				@include media-breakpoint-up(768) {margin-bottom: 1rem;}
				@include media-breakpoint-up(992) {margin-bottom: 2rem;}
				@include media-breakpoint-up(1200) {margin-bottom: 3rem;}
			}
		}
	}
}