.post-main {
	background-color: $romance;
	@include media-breakpoint-down(480) {padding: 3rem 0;}
	@include media-breakpoint-between(481, 767) {padding: 4rem 0;}
	@include media-breakpoint-up(768) {min-height: 720px;}
	.post-date {
		display: block;
		font-weight: 600;
		font-size: .875rem;
		font-family: $font;
		color: $white;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		background-color: $black;
		margin-bottom: 1rem;
		padding: 5px;
		@include media-breakpoint-down(767) {margin-top: 1rem;}
		@include media-breakpoint-up(768) {margin-top: 2rem;}
	}
	.post-title {
		font-size: 3rem;
		text-transform: uppercase;
		color: $black;
		
		@include media-breakpoint-down(767) {
			font-size: 1.75rem;
			margin-bottom: 1rem;
		}
		@include media-breakpoint-up(768) {
			font-size: 2rem;
			margin-bottom: 3rem;
		}
		@include media-breakpoint-up(1200) {
			font-size: 3rem;
			margin-bottom: 3rem;
		}
	}
	.btn-link {padding: 0;}
	.post-side-left {
		@include media-breakpoint-down(480) {margin-bottom: 2rem;}
		@include media-breakpoint-between(481, 767) {margin-bottom: 2rem;}
	}
}