.product-main {
	.main-body {
		position: relative;
		.main-body-side {
			@include media-breakpoint-up(992) {min-height: 720px;}
		}
		.side-body {
			position: relative;
			z-index: 50;
			max-width: 100%;
			margin: auto;
			@include media-breakpoint-down(480) {
				width: 100%;
				padding: 2rem 0;
			}
			@include media-breakpoint-up(481) {
				width: 100%;
				padding: 3rem 0;
			}
			@include media-breakpoint-between(768, 991) {
				width: 100%;
				padding: 2rem 8rem;
			}
			@include media-breakpoint-up(992) {
				width: 350px;
				padding: 0 2rem;
			}
			@include media-breakpoint-up(1200) {width: 400px;}
			.side-title {
				width: 100%;
				font-weight: 900;
				color: $black;
				text-transform: uppercase;
				text-align: center;
				margin: 0;
				@include media-breakpoint-down(767) {font-size: 1.75rem;}
				@include media-breakpoint-up(768) {font-size: 2rem;}
				@include media-breakpoint-up(1200) {font-size: 3rem;}
			}
			.side-subtitle {
				width: 100%;
				font-size: .75rem;
				font-weight: 600;
				color: $grey;
				text-transform: uppercase;
				text-align: left;
				margin: 0;
				@include media-breakpoint-down(767) {text-align: center;}
			}
			.side-content {text-align: center;}
			.icon-box {
				min-width: 50px;
				text-align: center;
			}
		}
		.body-side-left {
			position: relative;
			
			background-image: url("../img/side-bg.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			.side-body {
				@include media-breakpoint-up(992) {margin-left: 0;}
				@include media-breakpoint-up(1060) {margin-left: auto;}
			}
			.side-subtitle {
				text-align: center;
				margin-bottom: 1rem;
			}
			.side-title {
				@include media-breakpoint-down(480) {margin-bottom: 1.5rem;}
				@include media-breakpoint-up(481) {margin-bottom: 2.25rem;}
				@include media-breakpoint-up(768) {margin-bottom: 3rem;}
			}
		}
		.body-side-right {
			.side-body {
				@include media-breakpoint-up(992) {margin-right: 0;}
				@include media-breakpoint-up(1060) {margin-right: auto;}
			}
			.side-subtitle {
				margin-bottom: 3rem;
				@include media-breakpoint-between(768, 991) {text-align: center}
			}
			.side-title {
				margin-bottom: 1rem;
				@include media-breakpoint-up(992) {text-align: left;}
			}
		}
		.featured-img-container {
			@include media-breakpoint-down(480) {
				position: relative;
				width: 100%;
				height: 250px;
				margin: 1.5rem 0;
				padding: 1.5rem 0;
			}
			@include media-breakpoint-up(481) {
				position: relative;
				width: 100%;
				height: 350px;
				margin: 1.5rem 0;
				padding: 1.5rem 0;
			}
			@include media-breakpoint-between(768, 991) {
				position: relative;
				width: 100%;
				height: 400px;
				margin: 1.5rem 0;
				padding: 1.5rem 0;
			}
			@include media-breakpoint-up(992) {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 10;
				height: 600px;
				margin: auto;
			}
		}
		.circle {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 15;
			max-height: 100%;
			margin: auto;
			@include media-breakpoint-up(992) {max-width: 225px;}
			@include media-breakpoint-up(1200) {max-width: 300px;}
			@include media-breakpoint-up(1300) {max-width: 350px;}
		}
		.featured-img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 20;
			max-height: 100%;
			margin: auto;
			
			@include media-breakpoint-up(992) {max-width: 160px;}
			@include media-breakpoint-up(1200) {max-width: 240px;}
		}
	}
	
}